<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <% include partials/_header %>
</header>
<body>

  <ul>
    <% for (var shortURL in urlDatabase) { %>
      <li>
        <div>
          key/Short: <%= shortURL %>
        </div>

        <div>
          value/URL:
          <a href='/u/<%= shortURL %>'>
            <%= urlDatabase[shortURL].longURL %>
          </a>
        </div>

        <!-- <div>
          <form>
            <input type='text' value="<%= 'localhost:8080/u/' + shortURL %>">
          </form>
        </div> -->

        <form method="GET" action='/urls/<%= shortURL %>'>
          <button type="submit">EDIT</button>
        </form>

        <form method="POST" action='/urls/<%= shortURL%>/delete'>
          <button type="submit">DELETE</button>
        </form>

      </li>
    <% } %>
  </ul>


</body>
</hmtl>