<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
        <% include partials/_header %>
  </header>
<body>

  <ul>
    <% for (var key in urlDatabase) { %>
      <li>
        <div>key/Short: <%= key %></div>
        <div>value/URL: <a href='/u/<%= key %>'> <%= urlDatabase[key] %> </a> </div>
        <div><form><input type='text' value="<%= 'localhost:8080/u/' + key %>"></form></div>
        <form method="GET" action='/urls/<%= key %>'>
          <button type="submit">EDIT</button>
        </form>
        <form method="POST" action='/urls/<%= key%>/delete'>
          <button type="submit">DELETE</button>
        </form>
      </li>
    <% } %>
  </ul>


</body>
</hmtl>