<!DOCTYPE html>
<html lang="en">



<head>
  <title>TinyApp</title>
</head>
<header>
  <% include partials/_header %>
</header>
<body style="font-size:20px; padding:50px;">

  <ul>
    <% for (var shortURL in urlDatabase) { %>
      <li>
        <div>
          Short URL: <%= shortURL %>
        </div>

        <div>
          Original URL:
          <a href='/u/<%= shortURL %>'>
            <%= urlDatabase[shortURL].longURL %>
          </a>
        </div>
        <div>
          OWNER ID:
          <%= urlDatabase[shortURL].userID %>
        </div>

          <div>
            <form>
              <input type='text' value="<%= 'localhost:8080/u/' + shortURL %>">
            </form>
          </div>

        <% if (user === urlDatabase[shortURL].userID) { %>
        <form method="GET" action='/urls/<%= shortURL %>'>
          <button type="submit">EDIT</button>
        </form>

        <form method="POST" action='/urls/<%= shortURL%>/delete'>
          <button type="submit">DELETE</button>
        </form>
        <% } %>
        <hr>
      </li>
    <% } %>
  </ul>


</body>
</hmtl>