<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
        <% include partials/_header %>
    </header>
<body>

  <ul>
    <% for (var key in urlDatabase) { %>
      <li> key/Short: <%= key %>,  value/URL: <a href='/urls/<%= key %>'> <%= urlDatabase[key] %> </a> </li>
        <form method="POST" action='/urls/<%= key%>/delete'> <a href='/urls/'>DELETE</a> </form>
       <a href='<%= urlDatabase[key] %>'><% urlDatabase[key]%></a>

    <% } %>
  </ul>


</body>
</hmtl>